//main:../style.less

.btn {
    .raleway_semibold();
    padding      : 14.5px 47.5px;
    background   : @red;
    border       : none;
    border-radius: 2px;
    margin       : 0 auto;
    display      : block;
    cursor       : pointer;
    transition   : all 0.5s ease-in-out;
    opacity      : 0.75;

    &-large {
        width: 280px;
    }

    &:hover {
        transform: scale(1.1);
        opacity  : 1;
    }
}